.card {
    color: #363636;
    background-color: #fafafa;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    text-align: left;
    row-gap: 8px;

    p {
        margin: 0;
    }

    &_icons {
        align-self: flex-end;
    }

    &_button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    &_note {
        font-size: 18px;
    }

    &_created,
    &_updated {
        font-size: 10px;
        display: flex;
        align-items: center;
        margin: 10px;
        column-gap: 8px;

    }

    &_date {
        display: flex;
        justify-content: space-between;

    }
}