.card {
    color: #363636;
    background-color: #fafafa;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    text-align: left;

    &_button {
        align-self: flex-end;
        color: salmon;
        font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48;

        &:hover {
            color: rgb(251, 45, 22);
        }

        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &_note {
        font-size: 18px;
    }

    &_created,
    &_updated {
        font-size: 10px;
    }

    &_date {
        display: flex;
        justify-content: space-between;
    }
}